{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0000">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    
<header class="navbar-fixed .gradient-45deg-purple-deep-orange">
    <nav>
        <div class = "nav-wrapper">
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="left brand-logo"> &nbsp;&nbsp;E-commerce</a>
                </li>
            </ul>

        </div>
    </nav>
</header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class = "page-footer">
        <div class="right">
            All rights reserved, &copy; 2022 Cat Collector &nbsp;
        </div>
</footer>
</body>
</html>